body { 
  background:#eee;
  margin:1em;
  text-align:center;
  overflow: auto;
  font-family: 'Press Start 2P';font-size: 22px;
}
canvas { 
  background:#fff;
  border:1px solid #ccc;
  padding: 30px;
  border: 1px solid #000;
 }

 @media (min-width: 1201px) {
  canvas {
    width: 40vw;
  }
}

@media (max-width: 1200px) {
  canvas {
    width: 90vw;
  }
}

#zoomable-div {
  overflow: auto;
}

#zoomable-content {
  margin: auto;
  transform-origin: top left;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

button {
  padding: 10px;
  font-family: 'Press Start 2P';font-size: 22px;
}

.menu-button{
  padding-top: 20px;
  padding-bottom: 20px;
}

.colored{
  color: red;
}